<div class="container">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" (keyup)="applyFilter($event)" >
  </mat-form-field>
    <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <mat-header-row *matHeaderRowDef="displayedColumns;" class="mat-elevation-z1"></mat-header-row>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell class="headerCustom" *matHeaderCellDef mat-sort-header mwlResizable (resizeEnd)="onResizeEnd($event, column)"
        [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
        {{ column | titlecase }}
      </mat-header-cell>
      <mat-cell matTooltip="{{item[column]}}" *matCellDef="let item">{{ item[column] }}</mat-cell>
    </ng-container>
    <mat-row matRipple id="row-{{index}}" *matRowDef="let row; columns: displayedColumns;  let index = index;" (click)="selectRow(index)">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
