.container {
  padding: 30px;
}

table {
  width: 100%;
}

.headerCustom {
  background-color: #5d71d8;
}

.mat-header-cell {
  color: white;
}

.mat-column-name {
  min-width: 25%;
}

.example-full-width {
  width: 25%;
}
