.panel {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}
.panel > .panel {
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.panel > *.full-width {
    flex-grow: 9;
    width: 100%;
}
.panel > *.third-width {
    flex-grow: 3;
    width: 33%;
}
.panel > *.half-width {
    flex-grow: 2;
    width: 50%;
}
.panel > button:not(:last-of-type) {
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
}